<% include partials/header %>

<div class="ui padded container segment">
    <form class="ui form" method="post" action="?_method=PUT">
        <div class="field">
        <textarea name="post_body" cols="30" rows="10" placeholder="Your post"><%= postData.post %></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>

<% include partials/footer %>