<% include ./partials/header.ejs %>

<div class="ui container segment">
    <p><a href="/login/google">google</a></p>
    <p><a href="/login/local">local</a></p>
</div>


<% include ./partials/footer.ejs %>